<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include ('../includes/navbar') -%>
    <section class="form-main-div">
      <div class="premium-card">
        <p>Premium page</p>
        <ul>
          <li>Can save post as a pdf file</li>
          <li>Animated profile badge</li>
          <li>Setting username unlimited times</li>
        </ul>
        <a href=""><button class="premiumBtn">Buy premium</button></a>
      </div>
    </section>
  </body>
</html>
