<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include ('../includes/navbar') -%>
    <section class="form-main-div">
      <div class="premium-card">
        <p>Premium page</p>
        <ul>
          <li>Can save post as a pdf file</li>
          <li>Animated profile badge</li>
          <li>Setting username unlimited times</li>
        </ul>
        <button class="premiumBtn">Buy premium</button>
      </div>
    </section>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const stripe = Stripe(
        "pk_test_51PjYBQP7lSRf3HTJ0ZdiwWsHCEe62S8In7CsK6AmfDdDIeho4xu49sKfgowh5oVagOyzdM6i3spcN4kZBsPOV11N00fsmBzc3L"
      );
      let checkoutBtn = document.querySelector(".premiumBtn");
      checkoutBtn.addEventListener("click", function () {
        stripe.redirectToCheckout({
          sessionId: "<%= session_id %>",
        });
      });
    </script>
  </body>
</html>
