<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include ('../includes/navbar') -%>
    <section class="form-main-div">
      <form
        action="/admin/setProfile"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="addPostHeading">
          <h2>Upload profile Image</h2>
          <button>
            <a href="/admin/profile">Back</a>
          </button>
        </div>
        <% if(errorMessage) { %>
        <p class="errorMessage"><%= errorMessage %></p>
        <% } %>
        <div class="inputDiv">
          <label for="imageUrl">Choose your profile photo</label>
          <input type="file" id="imageUrl" name="imageUrl" />
        </div>
        <button type="submit">Upload</button>
      </form>
    </section>
  </body>
</html>
